<!DOCTYPE html><html lang="en"><head><meta charset="utf-8" /><title>taptapir</title><link rel="stylesheet" href="../taptapir.css"></head><body></body><script src="../taptapir.js"></script><script type='text/pokescript'>

set_window_color('rgb(49 72 60)')
// set_scale(1)
# class Wallet extends Button:
#     # get gems():
#     #     return this._gems
#     set gems(value):
#         # this._gems = value
#         this.text = value
wallet = Button(scale=[.3,.075], origin=[-.5,.5], text_origin=[-.5,0], position=[-.5,.5*aspect_ratio], shadow=True, text=' 💎 ??  ', gems=999)
wallet.set_gems = def (value):
    wallet.gems = value
    wallet.text = ` 💎 ${wallet.gems}  `
    wallet.fit_to_text()

wallet.set_gems(99)

gem_hunt_start_bet_scene = Scene('taptapir_stars')
gem_hunt_start_bet_scene.on_enter = def ():
    skulls_label.y = .35

num_mines = 3
multiplier = 1
current_bet = 1

skulls_label = Entity(visible_self=False, y=.25+.1)
skull_icon= Button(parent=skulls_label, scale=[.1,.075], origin=[-.5,0], text=`💀`, text_size=3, color=color.clear, text_color='white', position=[-.16, 0, -1])
num_mines_text = Button(parent=skulls_label, scale=[.15,.075], text=`${num_mines}/25`, text_size=3, z=-2)

multiplier_text = Text(parent=gem_hunt_start_bet_scene, text=`x ${multiplier}`, y=-.35, text_size=4, text_color='white')

slider = Entity(parent=gem_hunt_start_bet_scene, y=.25-.03, origin=[0,-.5], color='#333', scale=[.95,.1], shadow=True, roundness=.2)
fill =   Entity(parent=slider, origin=[-.5,-.5], x=-.5, color='green', shadow=True, roundness=.2, scale_x=.2)
slider.on_click = def():
    num_mines = floor((mouse.point[0]+.5) * 25) + 1
    num_mines = clamp(num_mines, 1, 24)
    fill.scale_x = num_mines / 25
    // print('num_mines:', num_mines)
    num_mines_text.text = `${num_mines}/25`
    // print('aa', color.green, color.red, lerp(color.green, color.red, num_mines/25))
    # fill.color = lerp(color.green, color.red, num_mines/25)
    multiplier = 1 + (num_mines / 25)
    multiplier = Math.pow(multiplier, 3) -.1
    multiplier = multiplier.toFixed(3);
    multiplier_text.text = `x ${multiplier}`

bet_text = Button(parent=gem_hunt_start_bet_scene, scale=[.3*1.5,.075*1.5], text_origin=[-.5,0], y=-.4, shadow=True, text=`  💎 ${current_bet}`, text_size=4)
for i, e in enumerate([1, 5, 10, 20, 50, 100, 200, 500]):
    let b = Button(parent=gem_hunt_start_bet_scene, scale=[.2,.075], x=-.325+((i%4)*.22), y=(-int(i/4)*.1)-.15, text=`💎${e}`, color='#ccc')
    b.on_click = def ():
        current_bet = min(e, wallet.gems)
        wallet.set_gems()
        bet_text.text = `  💎 ${current_bet}`

start_button = Button(parent=gem_hunt_start_bet_scene, text='START', scale=[.4, .15], y=-.7, shadow=True, color='white')
start_button.on_click = def():
    print('start')
    start_game()


// bet_text = Text(text=`thisi s \nsome text`, text_origin=[0,0], y=-.1, text_color=color.white)
impact = Entity(texture='impact.gif', scale=.3, z=-100, enabled=False)

gem_hunt_play_scene = Scene('taptapir_stars')
gem_hunt_start_bet_scene.on_enter = def():
    skulls_label.y = .55

squares = []
for y in range(5):
    for x in range(5):
        let e = Button(parent=gem_hunt_play_scene, scale=.2, xy=[(x/5)-.5, (y/5)-.5], origin=[-.5,-.5], text='?', color='#222', text_color='#fff', text_size=6, value='💎', alpha=.95)
        squares.append(e)
        e.on_click = def():
            e.text = e.value
            if e.value == '💀':
                lose()
            else:
                print('win!')
                impact.xy = [(x/5)-.4, (y/5)-.4]
                impact.texture = impact.texture
                impact.enabled = True
                cash_out_button.enabled = True

def start_game():
    for e in squares:
        e.value = '💎'
        e.text = '?'
        e.color = '#222'
        e.text_color = '#ccc'

    squares_copy = [e for e in squares]
    for i in range(num_mines):
        n = random_int(0, len(squares_copy)-1)
        target = squares_copy[n]
        print('------', n, target, squares_copy)
        target.value = '💀'
        # squares_copy.remove(e)
        squares_copy = [e for e in squares_copy if e != target]

    # num_mines_text.parent = gem_hunt_play_scene
    goto_scene(gem_hunt_play_scene)
    lose_screen.enabled = False



goto_scene(gem_hunt_start_bet_scene, fade=false)

# randomize()
cash_out_button = Button(parent=gem_hunt_play_scene, y=-.7, text='cash out', scale=[.3,.2], x=.32, color='yellow', shadow=True, enabled=False, on_click=reveal_all)
# // reveal_button.fit_to_text()
lose_screen = Entity(parent=gem_hunt_play_scene, visible_self=False, enabled=False)
overlay = Entity(parent=lose_screen, color='black', alpha=.7, scale=[1,1], roundness=.05, on_click=True, z=-3)
lose_text = Text(parent=lose_screen, text='YOU LOST :(', text_color='red', text_origin=[0,0], text_size=5, z=-4)

def reveal_all()
    for e in squares:
        e.text = e.value

def lose():
    reveal_all()
    cash_out_button.enabled = False
    lose_screen.enabled = True

retry_button = Button(parent=lose_screen, y=-.7, text='🗘', scale=[.3,.2], color='#738', shadow=True, text_size=4, text_color='white', on_click=start_game)


</script><script src="../pokescript_compiler.js"></script></html>
