<!DOCTYPE html><html lang="en"><head><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta charset="utf-8" /><title>filter</title><link rel="stylesheet" href="../taptapir.css"></head><body></body><script src="../taptapir.js"></script><script type='text/sunsnake'>


e = Entity(texture='taptapir_stars.jpg')
print(e.texture_aspect_ratio)

e.scale_x = .6
e.scale_y = e.scale_x * 16/9


set_background_color('black')
set_window_color('black')

</script><script src="../sunsnake_compiler.js"></script></html>
