.entity {
    touch-action: none;
    width:100%; height:100%; position:absolute; top:50%; left:50%; will-change: transform;
    transform:translate(-50%, -50%); color:black; background-size: 100% 100%; padding:0; border-width:0px;
    visibility: 'visible'; display:inherit; image-rendering: pixelated;
    background-color: 'red';
    background-repeat:repeat;
    font-size: 5vh;
    text-align: center;
    /* border-radius: 128px; border-style:solid; border-color: white; */
}
.entity:focus {
    outline: 0; -moz-outline-style: none;
}

#game {margin:auto; background-color: darkgreen; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); overflow: hidden; pointer-events: none;
    width:100%; height:100%; outline: 0; box-shadow: 0; touch-action: none;
}
fullscreen_button {padding: 4px 4px; width: 64px; height: 64px; background-color: #555; border-radius: .2em; border-width: 0px;
    text-decoration: none; color: white; font-size: 50.0px; z-index: 1; position: absolute; text-align: center; right: 0%;
}
body {
    margin:0;
    background-color:'#111';
}
#loading_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: white;
    font-family:monospace;
    transform: translate(-50%, -5%);
    text-align: center;
}
